{% extends "base.html" %}

{% block title %}Articles - Bloggity{% endblock%}

{% block head %}
<h1 align="center" class="title-p">Nos Articles</h1>
<div class="wrapper">
{% if articles and not articles == "[]" %}
	{% for p in articles %}
		{% if p.image %}
		<div class="postwrap">
			<a href="{{ url_for('article', id=p.id) }}" class="img_title"><img src="{{p.image}}" alt="Image d'article"></a>
			{% endif %}
			<div class="postcard">
				<a class="title_a" href="{{ url_for('article', id=p.id) }}">{% if p.title | length > 30 %}{{ p.title[:30]+"..." }}{% else %}{{ p.title }}{% endif %}</a>
				<h2>par {{ p.author }} | {{ genre[p.genre][2:].title() }}</h2>
				<p>{{ p.content[:200]+ "..." }}</p>
			</div><br>
		</div>
	{% endfor %}
{% else %}
	<div class="notf">
		<h1>¯\_(ツ)_/¯</h1>
		<p>Il n'y a pas de contenu pour le moment.</p>
	</div>
{% endif %}
</div>
{% endblock%}