{% extends "base.html" %}

{% block title %}Contactez-nous - Bloggity{% endblock%}

{% block head %}
	<h1 class="title-c" align="center"><i class="fa-solid fa-people-group"></i> L'équipe</h1>
	<div class="team">
        <h3><i class="fa-solid fa-person-chalkboard"></i> La Maîtresse de français</h3>
        <p>Fatima Zahra Benamrhar</p>
		<h3><i class="fa-solid fa-graduation-cap"></i> Les élèves de TCSF-1</h3>
		<ul>
			<li>Aymane Ifkiren - Créateur du site</li>
			<li>Adam Bikri</li>
			<li>Salma Âassila</li>
			<li>Chaymae Idbâazi</li>
			<li>Adam Hmaidouche</li>
			<li>Lina Âazmi</li>
			<li>Hiba Fikri</li>
			<li>Mohammad Âajil</li>
			<li>Rayan Khoubane</li>
			<li>Sabri Lhabib</li>
			<li>Khadija Sfar</li>
		</ul>
		<h3><i class="fa-solid fa-phone"></i> Contactez-nous</h3>
		<ul>
			<li><i class="fa-solid fa-mobile-retro"></i> - 06 61 91 31 21</li>
			<li><i class="fa-solid fa-fax"></i> - 05 28 23 54 54</li>
			<li><i class="fa-solid fa-envelope"></i> - buthelo0@gmail.com</li>
		</ul>
	</div>
{% endblock%}