{% extends "base.html" %}

{% block title %}Bloggity - Blog Scolaire du Lycée Al Majd{% endblock%}

{% block head %}
<div class="container">
	<div class="edito">
		<div>
			<i id="icon" class="fa-solid fa-feather"></i><h1>Édito</h1>
			<p><span>{{ edito[:1] }}</span>{{ edito[1:] }}<br><code>-L'équipe rédactrice</code></p>
		</div>	
		<img style="border-radius: 12px" src="{{ url_for('static', filename='portrait.png') }}" alt="portrait">
	</div>
<div class="genres">
	<i id="icon" class="fa-solid fa-align-center"></i><h1 class="title">Explorez nos articles</h1>
	<div class="cardwrap">
	{% if genre %}
		{% set i = -1 %}
		{% for g in genre %}
			<div class="genre_card">
				<h2>{{ name[g[i+1]].title() }}</h2>
				<a href="{{ url_for('article_by_genre', p_genre=route[g[i+1]]) }}" ><i class="fa-solid fa-arrow-right"></i></a>
			</div>
		{% endfor %}
	{% else %}
		<div class="notf">
			<h1>¯\_(ツ)_/¯</h1>
			<p>Il n'y a pas de contenu pour le moment.</p>
		</div>
	{% endif %}		
	</div>
</div>
<div class="schoolprojects">
	<h1><i class="fa-solid fa-chalkboard-user" id="icon"></i>Projets de la classe du français</h1>
	<div>
	{% if projets %}
		{% for p in projets %}
		<div class="mediawrap">
			<h1><i class="fa-solid fa-note-sticky" id="icon"></i>{{p.title}}</h1>
			<h3>{{mistune.html(p.description)|safe}}</h3>
			<div class="imgwrap">
			{% for i in os.listdir("./static"+p.content)%}
				{% if i.endswith((".mp4",".mov")) %}
					 <video width="320" height="240" controls>
					  <source src="{{ url_for('static', filename=p.content[1:]+'/'+i) }}" type="video/mp4">
					</video> 
				{% else %}
					<img src="{{ url_for('static', filename=p.content[1:]+'/'+i) }}">
				{% endif %}
			{%endfor%}
			</div>
		</div>
		{% endfor %}
	{% else %}
		<div class="notf">
			<h1>¯\_(ツ)_/¯</h1>
			<p>Il n'y a pas de contenu pour le moment.</p>
		</div>
	{% endif %}		
	</div>
</div>
</div>
{% endblock%}
