{% extends "admin.html" %}

{% block title %}Admin - Bloggity{% endblock%}

{% block head %}
<form>
	<h1>Bienvenue!</h1>
	<p>Pour se connecter insérer votre code spécial:</p>
	<div>
		<input placeholder="*" maxlength="1" >
		<input placeholder="*" maxlength="1" >
		<input placeholder="*" maxlength="1" >
		<code>-</code>
		<input placeholder="*" maxlength="1" >
		<input placeholder="*" maxlength="1" >
		<input placeholder="*" maxlength="1" >	
	</div>
	<button type="submit">Continuer</button>
</form>
{% endblock %}