{% extends "base.html" %}

{% block title %}Multimédia - Bloggity{% endblock%}

{% block head %}
<div>
	{% if True %}
	<h1><i class="fa-solid fa-video"></i>Clips courts</h1>
	<div>
		
	</div>
	{% else %}
	<div class="notf">
		<h1>¯\_(ツ)_/¯</h1>
		<p>Il n'y a pas de contenu pour le moment.</p>
	</div>	
	{% endif %}		
</div>
<div>
	{% if True %}
	<h1><i class="fa-solid fa-clapperboard"></i>Vidéos</h1>
	<div>
		
	</div>
	{% else %}
	<div class="notf">
		<h1>¯\_(ツ)_/¯</h1>
		<p>Il n'y a pas de contenu pour le moment.</p>
	</div>	
	{% endif %}		
</div>

<div>
	
</div>
{% endblock%}