
$main-color: hsl(216, 100%, 50%)
$main-color-2: hsl(216, 100%, 75%)
$secondary-color: hsl(215, 15%, 16%)

*
	padding: 0
	margin: 0
	box-sizing: border-box
	-webkit-transition: all 0.1s 0s linear
	-moz-transition: all 0.1s 0s linear
	-o-transition: all 0.1s 0s linear
	transition: all 0.1s 0s linear

html
	height: 100%
body 
	min-height: 100%
	display: flex
	flex-direction: column

	::-moz-selection 
		background: $main-color-2

	::selection 
		background: $main-color-2

.dark-mode 
	background-color: $secondary-color
	color: white 
	a
		color: white
	header
		background-color: $secondary-color
		img
			filter: brightness(0) invert(1)
		.toggled
			ul
				background-color: hsl(0, 0%, 20%)
		nav 
			ul li a
				color: white
				&:hover
					color: $main-color
		button
			color: white
			background-color: hsl(0, 0%, 20%)
			&:hover
				background-color: hsl(0, 0%, 30%)
	footer
		background: none
	form input
		background-color: hsl(0, 0%, 20%)
		color: white
	.subwrapper h1
		color: white
	.wrapper .postwrap .postcard .title_a
		color: white
		&:hover
			color: $main-color


header
	user-select: none
	z-index: 1
	position: sticky
	top: 0px
	display: flex
	justify-content: flex-end
	align-items: center
	border-top: 5px solid $main-color
	padding: 30px 50px
	background-color: white
	
	.logo_link
		margin-right: auto
		img 
			width: 8em

	nav 
		display: flex  
		ul
			font-family: 'PlayFair Display'
			font-size: 1.1em
			list-style-type: none
			display: inherit
			padding-right: 1.4em
			.l1, .l2
				padding-right: 2em
			
			border-right: 2px solid gray

		a
			text-decoration: none
			color: black
			border-bottom: 3px dotted $main-color
			transition: ease .5s
			&:hover
				color: $main-color
	.menuBtn
		display: none
	button
		cursor: pointer
		border: none 
		padding: 10px
		border-radius: 24px
		width: 38px
		vertical-align: middle
		margin-left: 1.5em
		i
			font-size: 1.4em
		&:hover
			background-color: hsl(0, 0%, 80%)

footer 
	display: flex
	justify-content: flex-start
	align-items: center
	background-color: $secondary-color	
	padding: 30px 50px 40px
	flex: 1
	border-top: 1px solid dimgray
	.info
		margin-left: auto
		text-decoration: none
		color: gray
		text-decoration-line: underline
		transition: ease .5s
		&:hover
			color: lightgray
	.git_logo, .facebook_logo
		margin-right: .5em
		font-size: 2em
		i 
			color: gray
			vertical-align: text-bottom
			&:hover
				color: lightgray

/* index */

#icon
	font-size: 2em
	color: $main-color
	padding-right: 20px

.container
	display: flex
	flex-direction: row
	padding: 0 80px
	.edito 
		border-radius: 24px
		h1
			font-family: "PlayFair Display"
			display: inline-block
		p
			font-family: "Rubik"
			text-indent: 1em
			font-size: 1.25em
			padding: 15px 0
			code
				font-family: "PlayFair Display" 
				float: right
				font-style: italic
.genres
	padding: 0px 80px
	margin-bottom: 10vh
	font-family: "Rubik"
	border-radius: 24px
	.title
		font-family: "PlayFair Display"
		display: inline-block
		margin-bottom: 12px
	.cardwrap
		user-select: none
		display: flex
		flex-flow: row wrap

	.genre_card
		display: inline-flex
		font-size: 1em
		justify-content: flex-end
		padding: 15px 25px 
		margin: 15px 10px 0 0
		border: 1px solid gray
		border-radius: 50px
		a
			text-decoration: none
			font-size: 1.5em
			margin-left: 1em
			i
				vertical-align: text-bottom
				color: $main-color
				&:hover
					color: $main-color-2


.notf
	font-family: "Rubik"
	display: flex
	flex-direction: column
	align-items: center
	font-size: 1.1em
	width: 100%
	h1
		color: $main-color

/* 404 */

.oops 
	height: 50vh
	display: flex
	align-items: center
	flex-direction: column
	justify-content: center
	font-family: "Rubik"
	font-size: 1.4em
	h1
		font-family: "PlayFair Display"
		font-size: 4em
		letter-spacing: 15px
		margin-bottom: 20px
	a
		text-decoration: none
		border-bottom: 2px dotted $main-color
		color: $main-color
		font-size: .9em
		margin-top: 10px
		&:hover
			border-bottom-style: solid

/* login */


form
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	margin-top: 15vh
	margin-bottom: 20vh
	h1     
		font-family: "Rubik"
		color: $main-color
		font-size: 2em
	p 
		text-align: center
		font-family: "PlayFair Display"	
		font-size: 1.3em
	input
		margin: .5em 0
		color: $secondary-color
		border: none
		font-family: "Fira Code", monospace
		border-radius: 24px
		padding: 10px
		text-align: center 
		background-color: hsl(0, 0%, 90%)
		width: 4em
		font-size: 3em
	button
		padding: 5px 10px
		font-family: "Rubik"
		background-color: $main-color
		border: none
		color: white
		font-size: 1.3em
		border-radius: 24px
		cursor: pointer
		&:hover
			background-color: hsl(216, 100%, 60%)

.post_wrapper
	display: flex
	.share
		p
			font-family: "Rubik"
			font-style: italic
			color: white
			font-size: 1.4em
			margin: 10px 0
		padding: 30px 30px 
		border-top-right-radius: 24px
		background-color: $main-color
.subwrapper
	padding: 25px
	max-width: 75vw
	margin-left: 1em
	display: flex
	flex-direction: column
	align-items: center

	img
		border-radius: 12px
		margin-top: 2em
		margin-bottom: 1.5em
		width: 45vw
		height: 400px
	h1
		font-family: "PlayFair Display"
		font-size: 2.5em
		color: black
	.h2
		display: none
	h2 
		display: inline-flex
		font-size: 1.5em
		color:  $main-color
		font-family: "Rubik"
		font-style: italic
	
	div	
		font-family: "PlayFair Display"
		p
			margin-top: 1em
			text-indent: 3em
			word-spacing: 4px
		p,ul	
			font-size: 1.2em
		a 
			color: $main-color
			text-decoration: none
			&:visited 
				color: $main-color-2
			
			&:hover 
				color: $main-color-2

			&:focus 
				outline: thin dotted
			
			&:hover, &:active 
				outline: 0
		
		p 
			margin: 1em 0

		img 
			max-width: 100%

		h1, h2, h3, h4, h5, h6 
			font-weight: normal
			color: #111
			line-height: 1em

		h4, h5, h6 
			font-weight: bold

		h1 
			font-size: 2.5em

		h2 
			font-size: 2em

		h3 
			font-size: 1.5em

		h4 
			font-size: 1.2em

		h5 
			font-size: 1em

		h6 
			font-size: 0.9em

		blockquote 
			color: #666666
			margin: 0
			padding-left: 3em
			border-left: 0.5em gray solid

		hr 
			display: block
			height: 2px
			border: 0
			border-top: 1px solid #aaa
			border-bottom: 1px solid #eee
			margin: 1em 0
			padding: 0

		pre, code, kbd, samp 
			color: #000
			font-family: monospace, monospace
			_font-family: 'courier new', monospace
			font-size: 0.98em

		pre 
			white-space: pre
			white-space: pre-wrap
			word-wrap: break-word

		b, strong 
			font-weight: bold

		dfn 
			font-style: italic

		ins 
			background: #ff9
			color: #000
			text-decoration: none

		mark 
			background: #ff0
			color: #000
			font-style: italic
			font-weight: bold

		sub, sup 
			font-size: 75%
			line-height: 0
			position: relative
			vertical-align: baseline

		sup 
			top: -0.5em

		sub 
			bottom: -0.25em

		ul, ol 
			margin: 1em 0
			padding: 0 0 0 2em

		li p:last-child 
			margin: 0

		dd 
			margin: 0 0 0 2em

		img 
			border: 0
			-ms-interpolation-mode: bicubic
			vertical-align: middle

		table 
			border-collapse: collapse
			border-spacing: 0
			width: 100%

		th 
			border-bottom: 1px solid black

		td 
			vertical-align: top

		@media only screen and (min-width: 480px) 
			font-size: 14px

		@media only screen and (min-width: 768px) 
			font-size: 16px

		@media print 
			background: transparent 
			color: black 
			filter: none 
			-ms-filter: none 

			a, a:visited
				color: $main-color 
				text-decoration: underline

			hr 
				height: 1px
				border: 0
				border-bottom: 1px solid black

			abbr[title]:after 
				content: " (" attr(title) ")"

			.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after 
				content: ""

			pre, blockquote 
				border: 1px solid #999
				padding-right: 1em
				page-break-inside: avoid

			tr, img 
				page-break-inside: avoid

			img 
				max-width: 100% 

			p, h2, h3 
				orphans: 3
				widows: 3

			h2, h3 
				page-break-after: avoid

.comments
	margin: 0 3em 4em
	.title_com
		h2
			i
				color: $main-color
				margin-right: .5em
			margin-right: auto
			font-family: "PlayFair Display"
		a
			display: flex
			text-decoration: none
			color: $main-color
			font-family: "Rubik"
			p 
				margin-left: .5em
			&:hover
				color: $main-color-2
		justify-content: flex-end
		align-items: center 
		display: flex
	form
		margin: 0
		margin-top: .5em
		padding: 0
		display: flex
		align-items: center
		flex-direction: row
		font-size: 1.4
		box-sizing: content-box
		input
			font-size: inherit
			text-align: unset
			padding-left: 30px
			width: 95%
		button
			padding: 10px
			margin-left: .5em


.wrapper
	margin: 0em 6em 4em
	padding: 25px
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

	.postwrap
		display: flex
		flex-direction: row
		align-items: center
	.img_title
		border: none
		margin-right: 1em
		img
			border-radius: 8px
			height: 130px
			width: 200px
			&:hover
				filter: brightness(50%)
	.postcard
		padding-bottom: 15px
		.title_a
			color: black
			text-decoration: none
			border-bottom: 7px dotted $main-color
			font-family: "PlayFair Display"
			font-size: 1.7em
			margin-right: 10px
			&:hover
				color: $main-color
		h2 
			display: flex
			font-size: 1.1em
			margin: 9px 0
			color:  $main-color
			font-family: "Rubik"
			font-style: italic
		p
			text-indent: 1em
			font-family: "PlayFair Display"
			font-size: 1.1em

.title-p
	font-family: "Rubik"
	margin-bottom: 1em
	color: $main-color

.title-c
	font-family: "Rubik"
	color: $main-color
	margin-bottom: 1em
.team
	border: .5px solid gray
	padding: 20px
	border-radius: 24px
	margin: 0 30vw 5vh
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column
	p, ul 
		margin-bottom: 15px
		font-family: "Rubik"
		font-size: 1.1em

	h3 
		font-family: "PlayFair Display"
		font-style: italic
		font-size: 1.5em
		margin-bottom: 15px
	ul
		list-style-type: none
		display: flex
		flex-direction: column
		align-items: center 

@media only screen and (max-width: 810px)
	header
		padding: 20px 30px
		.logo_link img
			width: 6em
		nav 
			position: fixed
			pointer-events: none
			top: 83.25px
			right: 0
			opacity: 0
			ul
				display: flex
				justify-content: center
				padding: 15px 0 25px 0
				margin: 0
				width: 100vw
				border: none
				a
					opacity: 0
					font-size: .9em
		.toggled
			position: fixed
			pointer-events: auto
			top: 83.25px
			right: 0
			opacity: 1 
			ul
				display: flex
				justify-content: center
				background-color: hsl(0, 0%, 90%)
				padding: 15px 0 25px 0
				margin: 0
				width: 100vw
				border: none
				a
					opacity: 1
					font-size: .9em
		.menuBtn
			display: initial

	.container
		margin-top: 1vh
		padding: 0 40px
		.edito p
				font-size: 1.2em

	.genres
		padding: 20px
		.title
			vertical-align: middle
			font-size: 1.5em
			padding-bottom: .5em
		div p
			font-size: 1em
		margin: 0 20px
		.cardwrap
			flex-direction: column
		.genre_card
			justify-content: space-between
			a
				margin-left: auto 

	.wrapper
		justify-content: center
		flex-direction: column
		margin: 0 5vw 5em
		.postwrap
			margin: 0
			display: flow-root
			h2
				margin-top: .7em
			img
				height: 200px
				width: 100%
	.comments
		a
			p
				display: none
	.post_wrapper
		justify-content: center
		flex-direction: column
		margin: 0
		.share
			padding: 10px 30px
			p
				display: none
			display: flex
			justify-content: center
			border-top-right-radius: unset
		.subwrapper
			max-width: 100vw
			align-items: unset
			img
				width: 114.5vw
				height: auto
				border-radius: 0
				margin-left:-25vw
			.h2
				display: initial
			p
				font-size: 1.3em
	form
		margin-top: 20vh

	.team
		margin: 0 10vw 5vh