* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: ease 0.34s;
  user-select: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.dark-mode {
  background-color: #23282f;
  color: white;
}
.dark-mode header {
  background-color: #23282f;
}
.dark-mode header img {
  content: url("../bloggity_dark.png");
}
.dark-mode header .toggled ul {
  background-color: #333333;
}
.dark-mode header nav ul li a {
  color: white;
}
.dark-mode header nav ul li a:hover {
  color: #0066ff;
}
.dark-mode header button {
  color: white;
  background-color: #333333;
}
.dark-mode header button:hover {
  background-color: #4d4d4d;
}
.dark-mode footer {
  background: none;
}
.dark-mode form div input {
  background-color: #333333;
  color: white;
}

header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 5px solid #0066ff;
  padding: 30px 50px;
  background-color: white;
}
header #logo_link {
  margin-right: auto;
}
header #logo_link img {
  width: 8em;
}
header nav {
  display: flex;
}
header nav ul {
  font-family: "PlayFair Display";
  font-size: 1.1em;
  list-style-type: none;
  display: inherit;
  padding-right: 1.4em;
  border-right: 2px solid gray;
}
header nav ul #l1, header nav ul #l2 {
  padding-right: 2em;
}
header nav a {
  text-decoration: none;
  color: black;
  border-bottom: 3px dotted #0066ff;
  transition: ease 0.5s;
}
header nav a:hover {
  color: #0066ff;
}
header #menuBtn {
  display: none;
}
header button {
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 24px;
  width: 38px;
  vertical-align: middle;
  margin-left: 1.5em;
}
header button i {
  font-size: 1.4em;
}
header button:hover {
  background-color: #cccccc;
}

footer {
  display: flex;
  justify-content: flex-end;
  background-color: #23282f;
  padding: 30px 50px 40px;
  flex: 1;
  border-top: 1px solid dimgray;
}
footer #info {
  text-decoration: none;
  color: gray;
  text-decoration-line: underline;
  transition: ease 0.5s;
}
footer #info:hover {
  color: lightgray;
}
footer #retcy_logo {
  margin-right: auto;
}
footer #retcy_logo img {
  width: 12em;
}

/* index */
#container {
  display: flex;
  flex-direction: row;
  padding: 0 50px;
}
#container #edito {
  padding: 30px;
  border-radius: 24px;
}
#container #edito h1 {
  font-family: "PlayFair Display";
  border-bottom: 3px dotted #0066ff;
  display: inline-block;
}
#container #edito p {
  font-family: "Product Sans";
  text-indent: 1em;
  font-size: 1.25em;
  padding: 15px 0;
}
#container #edito p code {
  font-family: "PlayFair Display";
  float: right;
  font-style: italic;
}

#genres, #types {
  padding: 30px 50px;
  font-family: "Product Sans";
  margin: 0px 50px;
  border-radius: 24px;
  border: 0.5px solid gray;
}
#genres #title, #types #title {
  padding-bottom: 1em;
}
#genres #title i, #types #title i {
  color: #0066ff;
  padding-right: 20px;
}
#genres div, #types div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}
#genres div h1, #types div h1 {
  color: #0066ff;
}

#types {
  margin: 25px 50px;
}

/* 404 */
#oops {
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Product Sans";
  font-size: 1.4em;
}
#oops h1 {
  font-family: "PlayFair Display";
  font-size: 4em;
  letter-spacing: 15px;
  margin-bottom: 20px;
}
#oops a {
  text-decoration: none;
  border-bottom: 2px dotted #0066ff;
  color: #0066ff;
  font-size: 0.9em;
  margin-top: 10px;
}
#oops a:hover {
  border-bottom-style: solid;
}

/* login */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  margin-bottom: 20vh;
}
form h1 {
  font-family: "Product Sans";
  color: #0066ff;
  font-size: 2em;
}
form p {
  font-family: "PlayFair Display";
  font-size: 1.3em;
}
form div {
  margin: 1em 0;
}
form div input {
  color: #23282f;
  border: none;
  font-family: "Fira Code", monospace;
  border-radius: 24px;
  padding: 10px;
  text-align: center;
  background-color: #e6e6e6;
  font-size: 3em;
  width: 1.5em;
}
form div code {
  font-weight: bolder;
  font-size: 2em;
}
form button {
  padding: 5px 10px;
  font-family: "Product sans";
  background-color: #0066ff;
  border: none;
  color: white;
  font-size: 1.3em;
  border-radius: 24px;
  cursor: pointer;
}
form button:hover {
  background-color: #3385ff;
}

@media only screen and (max-width: 700px) {
  header {
    padding: 20px 30px;
  }
  header #logo_link img {
    content: url("../feather.png");
    width: 1.5em;
  }
  header nav {
    display: none;
  }
  header .toggled {
    display: initial;
  }
  header .toggled ul {
    background-color: #e6e6e6;
    padding: 15px;
    border-radius: 24px;
    border: none;
  }
  header .toggled ul #l1, header .toggled ul #l2 {
    margin-bottom: 10px;
  }
  header #menuBtn {
    display: initial;
  }

  #container {
    padding: 0 10px;
  }
  #container #edito p {
    font-size: 1.2em;
  }

  #genres, #types {
    padding: 20px;
  }
  #genres #title, #types #title {
    font-size: 1.3em;
    padding-bottom: 0.5em;
  }
  #genres #title i, #types #title i {
    padding-right: 10px;
  }
  #genres div p, #types div p {
    font-size: 1em;
  }

  #genres {
    margin: 0 30px;
  }

  #types {
    margin: 20px 30px;
  }

  form {
    margin-top: 20vh;
  }
  form div input {
    width: 1em;
  }
}

/*# sourceMappingURL=main.css.map */
